* {
    box-sizing: border-box;
    background-color: #F0EAE4;
    text-decoration: none;
    margin: 0;
    padding: 0;
}


h1 {
  font-size: 120px;
  color: #0B59DE;
  font-family: morganite;
}

.navbar {
    display: block;
    text-decoration: underline;

}

.navbar a {
  padding-right: 2ch;
}

h2 {
  color: rgb(61, 57, 57);
  text-decoration: none;
  font-family: cocanut;
    color: rgb(rgb(30, 3, 3), green, blue);
    padding-top: 1ch;
    padding-bottom: 1ch;
}

h3 {
  font-family: montserrat;
  padding-bottom: 2ch;
}

button, label {
  font-family: montserrat;
}

p {
  font-family: montserrat;
}

a {
    cursor: pointer;
    color: inherit;
    border-radius: 5px;
    font-family: montserrat;
}

body {
  padding: 5ch;
}


li {
  font-family: montserrat;
  padding-bottom: 2ch;
}

button {
  appearance: auto;
  padding: 2ch;
  border-radius: 14px;
}

select {
  border-radius: 4px;
  font-weight: bolder;
}

.grid a {
    text-decoration: none;
    padding: 2em;
    color: #F0EAE4;
    background-color: #454341;
}

.landingpage {
  padding: 2em;
  text-decoration: underline;
  list-style: none;
}


.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    margin: 50px;
    }

.grid_1-1 {
    display: grid;
    grid-row: 1;
    grid-column: 1/2;
}

.grid_1-2 {
    display: grid;
    grid-row: 1;
    grid-column: 2/3;

}

.grid_1-3 {
    display: grid;
    grid-row: 1;
    grid-column: 3/4;

}

.grid_2-1 {
    display: grid;
    grid-row: 2;
    grid-column: 1/2;
   
}

.grid_2-2 {
    display: grid;
    grid-row: 2;
    grid-column: 2/3;
    
}

.grid_2-3 {
    display: grid;
    grid-row: 2;
    grid-column: 3/4;

}

/*ProductList*/

.productlistgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 290px));
  gap: 2rem;
}

.productlist main h2 {
  grid-column: 1/-1;
}
.productlist article h3 {
  font-size: 1rem;
  flex-grow: 3;
}
.productlist article > * {
  margin: 0;
  font-size: 0.9rem;
}

.breadcrumbs {
  display: none;
}

.purchaseBox {
  padding: 1rem;
}
.info {
  padding: 1rem;
}
.product select {
  min-width: 100px;
  font-family: montserrat;
}
.product main {
  display: grid;
}
.product main .breadcrumbs,
.product main img {
  grid-column: 1/-1;
}
.purchaseBox form label {
  gap: 1rem;
}
.purchaseBox button {
  display: block;
  margin-top: 1rem;
  width: 100%;
}
dt {
  font-weight: 700;
  font-family: montserrat;
}

dd {
  font-family: montserrat;
  padding-bottom: 1ch;
}

.readmore {
  font-weight: bold;
}

@media screen and (min-width: 900px) {
  .product main {
    grid-template-columns: 1fr 310px;
  }
  .info {
    order: 0;
  }
  .purchaseBox {
    order: 2;
    transform: translate(-50px, -100px);
  }

  .breadcrumbs {
    display: flex;
    font-size: 0.8rem;
    list-style-type: none;
  }

  .breadcrumbs li::after {
    content: " > ";
    font-size: 0.6rem;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    transition: all 0.3s;
  }

  .breadcrumbs li:last-child::after {
    background: none;
    content: "";
  }
}



@font-face {
    font-family: morganite;
    src: url(../fonts/Morganite-Bold.ttf);
    
    font-family: montserrat;
    src: url(../fonts/Montserrat-Light.ttf);
}

@font-face {
  font-family: cocanut;
  src: url(../fonts/Coconat-Bold.ttf);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  padding-bottom: 2ch;
}